body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
}
.width-limit{
    max-width: 1000px;
    margin: auto;
    padding : 0 8px;
}
header{
    background-color: #FF2E63;
}
header img{
    max-width : 80px;
    display: block;
    margin: auto;
}
.main-wrapper{
    min-height: 80vh;
    padding: 64px 0 128px 0;
    line-height: 280%;
}
.main-wrapper img{
    max-width: 100%;
    display: block;
    padding: 16px 0;
}
h2{
    padding-top: 16px;
}
footer{
    background-color: #252A34;
    color: #EAEAEA;
    text-align: center;
    height: 80px;
    padding-top: 32px;
}